$font-global: 'Livvic';
$color-primary: #08b8a9;
$color-secondary: #686868;
$color-back: #fff;
$color-nav2: #f8f8f8;
$color-placeholder: #c5c5c5c5;
$separa-stroke: 1px solid #d1d1d1;
$sombra-bloque: 0px 5px 5px #dddddd;
$sombra-texthero :4px 4px 1px #3030309f, 7px 7px 5px #1d1d1d9f;
