#home-cover {
    background-image: url(../img/color-primaria.jpg);
    background-size: cover;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: $color-back;
    margin-top: 20px;
    box-shadow: $sombra-bloque;
}

.text-hero {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 15px;
    line-height: 100px;
    font-weight: 700;
    text-shadow: $sombra-texthero;
    text-align: center;
    }

