<<<<<<< HEAD
#home-cover {
    background-image: url(../img/color-ventanas3.jpg);
    background-position-y: -200px;
    background-size: 100%;
    background-repeat: no-repeat;
=======
#home-cover{
    background-image: url(../img/color-ventanas.jpg);
>>>>>>> ed225ecebd3603435cc132f42af1ec2855e27300
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    margin-top: 30px;
    box-shadow: 0px 5px 5px #c7c7c7;
<<<<<<< HEAD
  }
=======

}
>>>>>>> ed225ecebd3603435cc132f42af1ec2855e27300
