@media screen and (max-width: 1024px){
   
    }

@media screen and (min-width: 768px) and (max-width: 1024px) {
        .search-bar{
        width: 40%;
        }
    }

    
@media screen and (max-width: 767px){
    
    .burger-button{
        display: flex;
    }
    
    
    .logo-san{
        width:200px;
    }
   
    .navegador{
       display: flex;
       height: auto;
       align-items: center;
       justify-content: center;
       margin-bottom: 10px;
   }
   .logo-san{
       padding: 0;
   }
   .navegador .search-bar{
       width: 90%;
       margin: 9px;
   }
   .nav-departamentos{
    height: auto;
    padding-top: 10px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    border: none;
    box-shadow: none;
    height: 100vh;
    background: rgba(59, 59, 59, 0.9);
   }
   .nav-departamentos ul{
    display: block;
   }
   .nav-departamentos ul li{
       height: 50px;
       text-align: center;
    }
}
.nav-departamentos ul li a{
    color: red;
}
@media screen and (max-width: 480px){
    .text-hero{
        font-size: 40px;
        line-height: 68px;
    }
}
@media screen and (max-width: 320px){
   
}

