.nav-departamentos {
    width: 100%;
    background-color: $color-nav2;
    height: 60px;
    border-top: $separa-stroke;
    border-bottom: $separa-stroke;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $sombra-bloque;
}

.nav-departamentos ul {
    display: flex;
}

.departamentos a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin: 40px;
}
.departamentos a img {
    height: 15px;
    vertical-align: middle;
}