.logo-san{
    width:230px;
    padding-left:30px;
}

.navegador{
    width:100%;
    background-color:$color-back;
    height:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}


  .nav-principal a {
    color:grey;
    text-decoration:none;
    font-size:16px;
    padding-right:30px;
}   
