.block-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.recuadro1{
    @extend %recuadros;
    
}
.recuadro2{
    @extend %recuadros;
}
.recuadro3{
    @extend %recuadros;
}
.recuadro4{
    @extend %recuadros;
}
.ima{
   height: 90%;
   width: 40%; 
   float: left;
   margin: 5px;

}
.izq{
    float: right;
}
.texto1{
    box-sizing: border-box;
    margin: 0% !important;
    font-size: 15px;
    font-family: $font-global; 
    padding-top: 5px;
}
.texto2{
    box-sizing: border-box;
    margin: 0% !important;
    font-size: 10px;
    font-family: $font-global; 
}