.block-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.recuadro1{
    @extend %recuadros;
    
}
.recuadro2{
    @extend %recuadros;
}
.recuadro3{
    @extend %recuadros;
}
.recuadro4{
    @extend %recuadros;
}
.ima{
   height: 60%;
   width: 40%; 
}
.texto1{
    box-sizing: border-box;
    margin: 0% !important;
    font-size: 15px;
}
.texto2{
    box-sizing: border-box;
    margin: 0% !important;
    font-size: 10px;
}