$font-global: 'livvic';
$color-primary: #08b8a9;
$color-secondary: #686868;
$color-back: #fff;
$color-nav2: #f8f8f8;
$color-placeholder: #c5c5c5c5;
$separa-stroke: 1px solid #d1d1d1;
%recuadros{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 45%;
    height: 20vh;
    margin: 20px;
    box-shadow: 0px 5px 5px #c7c7c7;
} 