* {
  font-family: "Livvic";
  margin: 0%;
  padding: 0%;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  color: #686868;
}

.burger-button {
  width: 40px;
  height: 40px;
  background: rgba(8, 184, 169, 0.8);
  z-index: 4;
  border-radius: 50%;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 5px;
  top: 5px;
  color: #fff;
}

.logo-san {
  width: 230px;
  padding-left: 30px;
}

.navegador {
  flex: 1;
  background-color: #fff;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-principal a {
  color: grey;
  text-decoration: none;
  font-size: 16px;
  padding-right: 30px;
}

.search-bar {
  width: 50%;
  height: 35px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-button {
  height: 27px;
  width: 27px;
  background-image: url(../img/lupa.svg);
  background-repeat: no-repeat;
  margin: 0px;
  border-style: none;
  border-radius: 10px;
}

::placeholder {
  color: #c5c5c5c5;
}

.search-bar input {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
}

.nav-departamentos {
  width: 100%;
  background-color: #f8f8f8;
  height: 60px;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px #dddddd;
}

.nav-departamentos ul {
  display: flex;
  flex-wrap: wrap;
}

.nav-departamentos ul li a {
  color: #686868;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  margin: 40px;
}

.carrito-titulo {
  text-align: center;
  color: #08b8a9;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-bottom: 20px;
}

.carrito-contenedor {
  background-color: #f8f8f8;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  padding: 30px;
  margin-top: 20px;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
  border-top: 1px solid #d1d1d1;
}

.carrito-producto img {
  width: 120px;
}

.precio-num {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.precio-num h3 {
  font-weight: 400;
}

.precio-num ul {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.precio-num ul li {
  margin-left: 30px;
  margin-right: 30px;
}

.precio-num input {
  width: 30px;
  height: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

::placeholder {
  color: #c5c5c5c5;
}

.total {
  text-align: end;
  margin-right: 30px;
  border-top: 1px solid #d1d1d1;
  font-size: 14px;
}

.button-total {
  height: 44px;
  width: 100px;
  color: #fff;
  background-color: #08b8a9;
  margin: 0px;
  border-radius: 5px;
  border: none;
  border-bottom: 3px solid #04665e;
  box-shadow: 0px 5px 5px #61616175;
  font-size: 11px;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-top: 20px;
}

.button-total:hover {
  background-color: aquamarine;
}

.button-total:active {
  background-color: #08b8a9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#recomendaciones {
  background-color: #f8f8f8;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  padding: 30px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  height: 200px;
  background: #fff;
  display: flex;
  align-items: center;
  margin: 5px;
}

.card img {
  width: 150px;
}

.card ul {
  list-style: disc;
  font-size: 12px;
}

.card h3 {
  font-size: 15px;
}

.footer {
  background-color: #686868;
  width: 100%;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.footer img {
  width: 150px;
  vertical-align: middle;
}

.logo-copyr {
  display: flex;
  align-items: flex-end;
  color: #fff;
  font-size: 12px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding-right: 20px;
}

.social-contenedor img {
  width: 40px;
  margin: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search-bar {
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  #home-cover {
    height: initial;
  }

  .burger-button {
    display: flex;
  }

  .logo-san {
    width: 200px;
    margin-top: 10px;
  }

  .navegador {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .logo-san {
    padding: 0;
  }

  .navegador .search-bar {
    width: 90%;
    margin: 9px;
  }

  .nav-departamentos {
    height: auto;
    padding-top: 10px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    border: none;
    box-shadow: none;
    height: 100vh;
    left: -100vw;
    background: rgba(46, 46, 46, 0.9);
    transition: 0.3s;
  }

  .nav-departamentos.is-active {
    left: 0;
  }

  .nav-departamentos ul {
    display: block;
  }

  .nav-departamentos ul li {
    height: 70px;
    text-align: center;
  }

  .nav-departamentos ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 480px) {
  .text-hero {
    font-size: 40px;
    line-height: 68px;
  }

  .footer {
    display: block;
    text-align: center;
    height: initial;
    padding: 10px;
  }

  .footer-nav {
    display: block;
    text-align: center;
  }

  .footer-nav a {
    height: 30px;
    padding: 0;
    margin-top: 10px;
  }

  .logo-copyr {
    display: block;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
